<!-- Création navbar responsive -->
<!-- Barre de navigation responsive avec une disposition flexible pour justifier les éléments autour -->
<nav class="navbar navbar-expand-lg  d-flex justify-content-around">
    <!-- Conteneur fluide pour la barre de navigation -->
    <div class="container-fluid">
        <a class="titrenavbar navbar-brand" href="">L'Auberge du Vieux Moulin**</a>


        <!-- Bouton de déclenchement du menu déroulant -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Icône du bouton, généralement représentée par trois lignes (hamburger) -->
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <!-- Lien vers la page du restaurant avec des classes de style et un attribut de condition -->
                <li class="nav-item ">
                    <a
                       href="">Restaurant</a>
                </li>
                <!-- Lien vers la page de l'hotel avec des classes de style et un attribut de condition -->
                <li class="nav-item ">

                       href="">Hotel</a>
                </li>
                <!-- Lien vers la page d'accueil avec des classes de style et un attribut de condition -->
                <li class="nav-item">

                       href="">Accueil</a>
                </li>
                <!-- Lien vers la page de contact avec des classes de style et un attribut de condition -->
                <li class="nav-item">

                       href="">
                        Contact
                    </a>
                </li>
                <!-- Lien vers la page a propos avec des classes de style et un attribut de condition -->
                <li class="nav-item">

                       href="">
                        A propos
                    </a>
                </li>



                {% if app.user %}

                    {# Menu déroulant #}
                    <li class="nav-item dropdown">

                        {# Texte du bouton du menu déroulant #}
                        <a class="nav-link dropdown-toggle" href="#" id="profil-dropdown" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {# Affichage du pseudonyme de l'utilisateur connecté #} <i
                                    class="fas fa-user mx-1 "></i>{{ app.user.firstname }} {{ app.user.lastname }}

                        </a>

                        {# Liste des liens du menu déroulant #}
                        <div class="dropdown-menu" aria-labelledby="profil-dropdown">


                            <!-- Vérification si l'utilisateur possède le rôle d'administrateur -->
                            {% if is_granted('ROLE_ADMIN') %}

                                <p class="text-center">Modifier/Supprimer</p>
                                <!-- Lien vers la page des chambres avec une icône et du texte -->
                                <p class="text-center"><a  href="{{ path('app_room_index') }}"><i class="fa-solid fa-bed me-1"></i>Chambres</a></p>
                                <!-- Lien vers la page des dates avec une icône et du texte -->

                                <p class="text-center"><a href="{{ path('app_date_index') }}"><i class="fa-regular fa-calendar-days me-1"></i>Date</a></p>
                                <!-- Lien vers la page du menu grenouilles avec une icône et du texte -->

                                <p class="text-center"><a href="{{ path('app_frog_menu_index') }}"><i class="fa-solid fa-frog me-1"></i>Menu Grenouilles</a></p>
                                <!-- Lien vers la page des prix du jour avec une icône et du texte -->

                                <p class="text-center"><a href="{{ path('app_price_dishe_index') }}"><i class="fa-solid fa-money-bill-1-wave me-1"></i>Prix du jour</a></p>
                                <!-- Lien vers la page du menu du jour avec une icône et du texte -->
                                <p class="text-center"><a href="{{ path('app_menu_index') }}"><i class="fa-solid fa-utensils me-1"></i>Menu du jour </a></p>




                        </div>

                    </li>





            </ul>

            </ul>

        </div>

    </div>

</nav>